In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [2]:
sara = pd.read_csv('sara_cleaned_features_test2.csv').drop(['Unnamed: 0', 'SHTFLU12M_A'], 1) #csv with grouped feautres under 10% of data
prerana = pd.read_csv('prerana_cleaned_features.csv').drop('Unnamed: 0', 1)
saumyaa = pd.read_csv('cleaned_data_SS.csv').drop(['Unnamed: 0','SHTFLU12M_A'],1)
eric = pd.read_csv('Eric_data1.csv').drop('Unnamed: 0', 1)

In [3]:
p_col = prerana.columns
s_col = saumyaa.columns
e_col = eric.columns

In [4]:
for i in range(len(e_col)):
    print(e_col[i])
    print(eric[e_col[i]].value_counts())

SPOUSAGETC_A
53.647281    17873
65.000000      345
64.000000      312
60.000000      310
62.000000      307
             ...
23.000000       33
22.000000       32
21.000000       15
20.000000       15
99.000000       14
Name: SPOUSAGETC_A, Length: 69, dtype: int64
SPOUSEDUC_A
99.0    17908
8.0      3351
4.0      3061
5.0      1868
9.0      1727
7.0      1276
1.0       785
6.0       543
11.0      387
10.0      278
3.0       244
2.0       154
97.0       30
Name: SPOUSEDUC_A, dtype: int64
HOUYRSLIV_A
3    7465
2    6800
5    6682
4    5971
1    4021
8     574
7      73
9      26
Name: HOUYRSLIV_A, dtype: int64
EMPWKHRS2_A
40.645373    12874
40.000000     7307
50.000000     1611
45.000000     1064
60.000000      909
             ...
92.000000        2
73.000000        2
89.000000        1
69.000000        1
83.000000        1
Name: EMPWKHRS2_A, Length: 93, dtype: int64
EMPDYSMSS2_A
15.045061     11262
0.000000      11256
2.000000       2146
1.000000       1509
3.000000       1255
              ...
43.000000         1
77.000000         1
115.000000        1
46.000000         1
111.000000        1
Name: EMPDYSMSS2_A, Length: 76, dtype: int64
INCSSRR_A
2.0    20422
1.0    10357
0.0      621
7.0      131
9.0       66
8.0       15
Name: INCSSRR_A, dtype: int64
FAMINCTC_A
220000    1436
100000    1268
50000     1076
60000     1062
40000      944
          ...
47629        1
98794        1
18915        1
31189        1
12162        1
Name: FAMINCTC_A, Length: 3878, dtype: int64
SPOUSAGETC_A - Other/NA
1    17873
0    13739
Name: SPOUSAGETC_A - Other/NA, dtype: int64
EMPDYSMSS2_A - Other/NA
0    20126
1    11486
Name: EMPDYSMSS2_A - Other/NA, dtype: int64
EMPWKHRS2_A - Other/NA
0    18738
1    12874
Name: EMPWKHRS2_A - Other/NA, dtype: int64

In [5]:
for i in range(len(s_col)):
    print(saumyaa[s_col[i]].value_counts())

2     21324
1      9289
10      999
Name: SHTPNUEV_A, dtype: int64
1     28228
2      1685
3       590
4       405
5       247
6       235
0       129
10       93
Name: BPLAST_A, dtype: int64
1     23276
2      3046
0      1433
3      1121
10      936
4       848
5       496
6       456
Name: CHOLLAST_A, dtype: int64
5     10091
4      9911
2      3940
1      3938
3      3461
10      271
Name: ANXFREQ_A, dtype: int64
2     29754
10      608
1       452
3       412
5       264
4       122
Name: ORIENT_A, dtype: int64
1     14720
3     14285
2      2129
10      478
Name: MARITAL_A, dtype: int64
2     28091
1      3055
10      466
Name: AFVET_A, dtype: int64
2     18887
1     12251
10      474
Name: SMKEV_A, dtype: int64
2     26422
1      4746
10      444
Name: ECIGEV_A, dtype: int64
1     25089
2      3957
4      1359
3       814
10      393
Name: GAD74_A, dtype: int64

In [6]:
combined = pd.concat([sara, prerana, saumyaa, eric], axis = 1)

In [7]:
combined

,PHSTAT_A,HYPMED_A,CHLMED_A,CHDEV_A,ANGEV_A,MIEV_A,STREV_A,ASEV_A,ASTILL_A,ASAT12M_A,...,SPOUSAGETC_A,SPOUSEDUC_A,HOUYRSLIV_A,EMPWKHRS2_A,EMPDYSMSS2_A,INCSSRR_A,FAMINCTC_A,SPOUSAGETC_A - Other/NA,EMPDYSMSS2_A - Other/NA,EMPWKHRS2_A - Other/NA
0,3,2.0,2.0,2,2,2,2,2,2.0,2.0,...,97.000000,8.0,2,40.645373,15.045061,2.0,60000,0,1,1
1,1,2.0,2.0,2,2,2,2,2,2.0,2.0,...,28.000000,6.0,1,35.000000,0.000000,2.0,50000,0,0,0
2,3,1.0,1.0,2,2,2,2,2,2.0,2.0,...,67.000000,4.0,7,40.645373,15.045061,7.0,65000,0,1,1
3,2,1.0,2.0,2,2,2,2,2,2.0,2.0,...,60.000000,5.0,4,40.000000,0.000000,2.0,120000,0,0,0
4,4,1.0,1.0,1,1,1,2,1,1.0,1.0,...,58.000000,5.0,5,98.000000,0.000000,2.0,30000,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31607,3,1.0,1.0,2,2,2,2,2,2.0,2.0,...,68.000000,7.0,5,40.645373,15.045061,1.0,116204,0,1,1
31608,3,1.0,2.0,2,2,2,2,1,2.0,2.0,...,40.000000,4.0,4,82.000000,0.000000,2.0,68000,0,0,0
31609,2,1.0,2.0,2,2,2,2,2,2.0,2.0,...,53.647281,99.0,4,40.000000,3.000000,1.0,60000,1,0,0
31610,2,2.0,2.0,2,2,2,2,2,2.0,2.0,...,35.000000,6.0,3,40.000000,2.000000,2.0,101000,0,0,0
31611,2,2.0,2.0,2,2,2,2,2,2.0,2.0,...,57.000000,4.0,4,49.000000,1.000000,2.0,79000,0,0,0

In [8]:
#check to make sure all missing values are gone
combined.isna().sum()

PHSTAT_A                   0
HYPMED_A                   0
CHLMED_A                   0
CHDEV_A                    0
ANGEV_A                    0
MIEV_A                     0
STREV_A                    0
ASEV_A                     0
ASTILL_A                   0
ASAT12M_A                  0
ASER12M_A                  0
CANEV_A                    0
DIBEV_A                    0
COPDEV_A                   0
ARTHEV_A                   0
DEMENEV_A                  0
ANXEV_A                    0
DEPEV_A                    0
AGEP_A                     0
HICOV_A                    0
HIKIND01_A                 0
HIKIND04_A                 0
HIKIND02_A                 0
HIKIND10_A                 0
RSNHIWANT_A                0
PAYBLL12M_A                0
LASTDR_A                   0
USUALPL_A                  0
HOSPONGT_A                 0
RX12M_A                    0
RXSK12M_A                  0
SHTFLU12M_A                0
visited_doctor_in_12m      0
dont_want_health_ins       0
SHTPNUEV_A                 0
BPLAST_A                   0
CHOLLAST_A                 0
ANXFREQ_A                  0
ORIENT_A                   0
MARITAL_A                  0
AFVET_A                    0
SMKEV_A                    0
ECIGEV_A                   0
GAD74_A                    0
SPOUSAGETC_A               0
SPOUSEDUC_A                0
HOUYRSLIV_A                0
EMPWKHRS2_A                0
EMPDYSMSS2_A               0
INCSSRR_A                  0
FAMINCTC_A                 0
SPOUSAGETC_A - Other/NA    0
EMPDYSMSS2_A - Other/NA    0
EMPWKHRS2_A - Other/NA     0
dtype: int64

In [9]:
combined.to_csv('combined_data.csv')

In [10]:
col = sara.columns

In [11]:
for i in range(len(col)):
    print(sara[col[i]].value_counts())

2    10665
3     8782
1     7172
4     3732
5     1248
7        7
9        6
Name: PHSTAT_A, dtype: int64
2.0     22258
1.0      9343
10.0       11
Name: HYPMED_A, dtype: int64
2.0     25527
1.0      6072
10.0       13
Name: CHLMED_A, dtype: int64
2     29698
1      1829
10       85
Name: CHDEV_A, dtype: int64
2     30923
1       620
10       69
Name: ANGEV_A, dtype: int64
2     30359
1      1219
10       34
Name: MIEV_A, dtype: int64
2     30389
1      1188
10       35
Name: STREV_A, dtype: int64
2     27392
1      4191
10       29
Name: ASEV_A, dtype: int64
2.0     29031
1.0      2557
10.0       24
Name: ASTILL_A, dtype: int64
2.0     30521
1.0      1081
10.0       10
Name: ASAT12M_A, dtype: int64
2.0     31276
1.0       333
10.0        3
Name: ASER12M_A, dtype: int64
2     27771
1      3813
10       28
Name: CANEV_A, dtype: int64
2     28266
1      3316
10       30
Name: DIBEV_A, dtype: int64
2     29816
1      1765
10       31
Name: COPDEV_A, dtype: int64
2     23438
1      8136
10       38
Name: ARTHEV_A, dtype: int64
2     31240
1       345
10       27
Name: DEMENEV_A, dtype: int64
2     26869
1      4702
10       41
Name: ANXEV_A, dtype: int64
2     26180
1      5388
10       44
Name: DEPEV_A, dtype: int64
85    1183
65     637
63     617
60     615
62     615
      ...
83     213
82     208
84     195
97      63
99       8
Name: AGEP_A, Length: 70, dtype: int64

In [12]:
combined.rename(columns = {'SHTFLU12M_A': 'target'})

,PHSTAT_A,HYPMED_A,CHLMED_A,CHDEV_A,ANGEV_A,MIEV_A,STREV_A,ASEV_A,ASTILL_A,ASAT12M_A,...,SPOUSAGETC_A,SPOUSEDUC_A,HOUYRSLIV_A,EMPWKHRS2_A,EMPDYSMSS2_A,INCSSRR_A,FAMINCTC_A,SPOUSAGETC_A - Other/NA,EMPDYSMSS2_A - Other/NA,EMPWKHRS2_A - Other/NA
0,3,2.0,2.0,2,2,2,2,2,2.0,2.0,...,97.000000,8.0,2,40.645373,15.045061,2.0,60000,0,1,1
1,1,2.0,2.0,2,2,2,2,2,2.0,2.0,...,28.000000,6.0,1,35.000000,0.000000,2.0,50000,0,0,0
2,3,1.0,1.0,2,2,2,2,2,2.0,2.0,...,67.000000,4.0,7,40.645373,15.045061,7.0,65000,0,1,1
3,2,1.0,2.0,2,2,2,2,2,2.0,2.0,...,60.000000,5.0,4,40.000000,0.000000,2.0,120000,0,0,0
4,4,1.0,1.0,1,1,1,2,1,1.0,1.0,...,58.000000,5.0,5,98.000000,0.000000,2.0,30000,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31607,3,1.0,1.0,2,2,2,2,2,2.0,2.0,...,68.000000,7.0,5,40.645373,15.045061,1.0,116204,0,1,1
31608,3,1.0,2.0,2,2,2,2,1,2.0,2.0,...,40.000000,4.0,4,82.000000,0.000000,2.0,68000,0,0,0
31609,2,1.0,2.0,2,2,2,2,2,2.0,2.0,...,53.647281,99.0,4,40.000000,3.000000,1.0,60000,1,0,0
31610,2,2.0,2.0,2,2,2,2,2,2.0,2.0,...,35.000000,6.0,3,40.000000,2.000000,2.0,101000,0,0,0
31611,2,2.0,2.0,2,2,2,2,2,2.0,2.0,...,57.000000,4.0,4,49.000000,1.000000,2.0,79000,0,0,0

In [13]:
#one hot encoding for categorical (non ordinal)-- get dummies from pandas or encoder sklearn, standardize (standard scalar) the continuous level variables
#feature selection to figure out the most important features 
    #consider random forest and mutual info classifier from sklearn
#then run models (logistic regression, decision tree)
#https://towardsdatascience.com/shap-explained-the-way-i-wish-someone-explained-it-to-me-ab81cc69ef30
#https://explained.ai/rf-importance/index.html
#https://towardsdatascience.com/understanding-model-predictions-with-lime-a582fdff3a3b

#feature selection: sklearn: RFE, VarianceThreshold, mutual info classif, chi2, RFECV

#saumyaa: mutual info classif, RFE
#Prerena: RFEVC
#Chi2
#Eric: variance threshold

In [14]:
standard_scaler = preprocessing.StandardScaler()
continuous_vals = combined[['SPOUSAGETC_A', 'EMPWKHRS2_A', 'EMPDYSMSS2_A', 'FAMINCTC_A']]

In [15]:
continuous_vals

       SPOUSAGETC_A  EMPWKHRS2_A  EMPDYSMSS2_A  FAMINCTC_A
0         97.000000    40.645373     15.045061       60000
1         28.000000    35.000000      0.000000       50000
2         67.000000    40.645373     15.045061       65000
3         60.000000    40.000000      0.000000      120000
4         58.000000    98.000000      0.000000       30000
...             ...          ...           ...         ...
31607     68.000000    40.645373     15.045061      116204
31608     40.000000    82.000000      0.000000       68000
31609     53.647281    40.000000      3.000000       60000
31610     35.000000    40.000000      2.000000      101000
31611     57.000000    49.000000      1.000000       79000

[31612 rows x 4 columns]

In [16]:
standardized = pd.DataFrame(standard_scaler.fit_transform(continuous_vals))

In [17]:
standardized.columns = continuous_vals.columns

In [20]:
combined = combined.drop(continuous_vals, 1)

In [21]:
combined = pd.concat([combined, standardized], 1)

In [22]:
combined.shape

(31612, 54)

In [24]:
col = combined.columns

In [26]:
for i in range(len(col)):
    print(col[i])
    print(combined[col[i]].value_counts())

PHSTAT_A
2    10665
3     8782
1     7172
4     3732
5     1248
7        7
9        6
Name: PHSTAT_A, dtype: int64
HYPMED_A
2.0     22258
1.0      9343
10.0       11
Name: HYPMED_A, dtype: int64
CHLMED_A
2.0     25527
1.0      6072
10.0       13
Name: CHLMED_A, dtype: int64
CHDEV_A
2     29698
1      1829
10       85
Name: CHDEV_A, dtype: int64
ANGEV_A
2     30923
1       620
10       69
Name: ANGEV_A, dtype: int64
MIEV_A
2     30359
1      1219
10       34
Name: MIEV_A, dtype: int64
STREV_A
2     30389
1      1188
10       35
Name: STREV_A, dtype: int64
ASEV_A
2     27392
1      4191
10       29
Name: ASEV_A, dtype: int64
ASTILL_A
2.0     29031
1.0      2557
10.0       24
Name: ASTILL_A, dtype: int64
ASAT12M_A
2.0     30521
1.0      1081
10.0       10
Name: ASAT12M_A, dtype: int64
ASER12M_A
2.0     31276
1.0       333
10.0        3
Name: ASER12M_A, dtype: int64
CANEV_A
2     27771
1      3813
10       28
Name: CANEV_A, dtype: int64
DIBEV_A
2     28266
1      3316
10       30
Name: DIBEV_A, dtype: int64
COPDEV_A
2     29816
1      1765
10       31
Name: COPDEV_A, dtype: int64
ARTHEV_A
2     23438
1      8136
10       38
Name: ARTHEV_A, dtype: int64
DEMENEV_A
2     31240
1       345
10       27
Name: DEMENEV_A, dtype: int64
ANXEV_A
2     26869
1      4702
10       41
Name: ANXEV_A, dtype: int64
DEPEV_A
2     26180
1      5388
10       44
Name: DEPEV_A, dtype: int64
AGEP_A
85    1183
65     637
63     617
60     615
62     615
      ...
83     213
82     208
84     195
97      63
99       8
Name: AGEP_A, Length: 70, dtype: int64
HICOV_A
1     29314
2      2264
10       34
Name: HICOV_A, dtype: int64
HIKIND01_A
1     18535
2     12989
10       88
Name: HIKIND01_A, dtype: int64
HIKIND04_A
2     28356
1      3168
10       88
Name: HIKIND04_A, dtype: int64
HIKIND02_A
2     22346
1      9178
10       88
Name: HIKIND02_A, dtype: int64
HIKIND10_A
2     28795
1      2729
10       88
Name: HIKIND10_A, dtype: int64
RSNHIWANT_A
0.0     28817
2.0      2020
1.0       556
10.0      219
Name: RSNHIWANT_A, dtype: int64
PAYBLL12M_A
2     27633
1      3910
10       69
Name: PAYBLL12M_A, dtype: int64
LASTDR_A
1     27339
2      2147
3       759
4       568
5       336
6       308
0        98
10       57
Name: LASTDR_A, dtype: int64
USUALPL_A
1     28711
2      2881
10       20
Name: USUALPL_A, dtype: int64
HOSPONGT_A
2     28296
1      3286
10       30
Name: HOSPONGT_A, dtype: int64
RX12M_A
1     22316
2      9258
10       38
Name: RX12M_A, dtype: int64
RXSK12M_A
2.0     21080
0.0      9258
1.0      1232
10.0       42
Name: RXSK12M_A, dtype: int64
SHTFLU12M_A
0    16063
1    15549
Name: SHTFLU12M_A, dtype: int64
visited_doctor_in_12m
1    27339
0     4273
Name: visited_doctor_in_12m, dtype: int64
dont_want_health_ins
0    31056
1      556
Name: dont_want_health_ins, dtype: int64
SHTPNUEV_A
2     21324
1      9289
10      999
Name: SHTPNUEV_A, dtype: int64
BPLAST_A
1     28228
2      1685
3       590
4       405
5       247
6       235
0       129
10       93
Name: BPLAST_A, dtype: int64
CHOLLAST_A
1     23276
2      3046
0      1433
3      1121
10      936
4       848
5       496
6       456
Name: CHOLLAST_A, dtype: int64
ANXFREQ_A
5     10091
4      9911
2      3940
1      3938
3      3461
10      271
Name: ANXFREQ_A, dtype: int64
ORIENT_A
2     29754
10      608
1       452
3       412
5       264
4       122
Name: ORIENT_A, dtype: int64
MARITAL_A
1     14720
3     14285
2      2129
10      478
Name: MARITAL_A, dtype: int64
AFVET_A
2     28091
1      3055
10      466
Name: AFVET_A, dtype: int64
SMKEV_A
2     18887
1     12251
10      474
Name: SMKEV_A, dtype: int64
ECIGEV_A
2     26422
1      4746
10      444
Name: ECIGEV_A, dtype: int64
GAD74_A
1     25089
2      3957
4      1359
3       814
10      393
Name: GAD74_A, dtype: int64
SPOUSEDUC_A
99.0    17908
8.0      3351
4.0      3061
5.0      1868
9.0      1727
7.0      1276
1.0       785
6.0       543
11.0      387
10.0      278
3.0       244
2.0       154
97.0       30
Name: SPOUSEDUC_A, dtype: int64
HOUYRSLIV_A
3    7465
2    6800
5    6682
4    5971
1    4021
8     574
7      73
9      26
Name: HOUYRSLIV_A, dtype: int64
INCSSRR_A
2.0    20422
1.0    10357
0.0      621
7.0      131
9.0       66
8.0       15
Name: INCSSRR_A, dtype: int64
SPOUSAGETC_A - Other/NA
1    17873
0    13739
Name: SPOUSAGETC_A - Other/NA, dtype: int64
EMPDYSMSS2_A - Other/NA
0    20126
1    11486
Name: EMPDYSMSS2_A - Other/NA, dtype: int64
EMPWKHRS2_A - Other/NA
0    18738
1    12874
Name: EMPWKHRS2_A - Other/NA, dtype: int64
SPOUSAGETC_A
-6.759123e-16    17873
 1.079941e+00      345
 9.848148e-01      312
 6.043100e-01      310
 7.945624e-01      307
                 ...
-2.915360e+00       33
-3.010486e+00       32
-3.105612e+00       15
-3.200738e+00       15
 4.314232e+00       14
Name: SPOUSAGETC_A, Length: 69, dtype: int64
EMPWKHRS2_A
 0.000000    12874
-0.054320     7307
 0.787358     1611
 0.366519     1064
 1.629036      909
             ...
 4.322405        2
 3.228224        2
 2.386546        1
 3.564895        1
 4.069902        1
Name: EMPWKHRS2_A, Length: 93, dtype: int64
EMPDYSMSS2_A
 2.113454e-17    11262
-1.790015e-01    11256
-1.552061e-01     2146
-1.671038e-01     1509
-1.433084e-01     1255
                 ...
 8.204044e-01        1
 9.393812e-01        1
 6.181437e-01        1
 9.036882e-01        1
 7.371205e-01        1
Name: EMPDYSMSS2_A, Length: 76, dtype: int64
FAMINCTC_A
 2.587309    1436
 0.470517    1268
-0.411479    1076
-0.235080    1062
-0.587878     944
             ...
 0.036399       1
-0.159228       1
-0.576324       1
-0.037742       1
-0.751154       1
Name: FAMINCTC_A, Length: 3878, dtype: int64

In [27]:
combined.to_csv('combined_standardized_final.csv')

In [29]:
test = pd.read_csv('combined_standardized_final.csv')

In [30]:
test

,Unnamed: 0,PHSTAT_A,HYPMED_A,CHLMED_A,CHDEV_A,ANGEV_A,MIEV_A,STREV_A,ASEV_A,ASTILL_A,...,SPOUSEDUC_A,HOUYRSLIV_A,INCSSRR_A,SPOUSAGETC_A - Other/NA,EMPDYSMSS2_A - Other/NA,EMPWKHRS2_A - Other/NA,SPOUSAGETC_A,EMPWKHRS2_A,EMPDYSMSS2_A,FAMINCTC_A
0,0,3,2.0,2.0,2,2,2,2,2,2.0,...,8.0,2,2.0,0,1,1,4.123980e+00,0.000000,2.113454e-17,-0.235080
1,1,1,2.0,2.0,2,2,2,2,2,2.0,...,6.0,1,2.0,0,0,0,-2.439729e+00,-0.475159,-1.790015e-01,-0.411479
2,2,3,1.0,1.0,2,2,2,2,2,2.0,...,4.0,7,7.0,0,1,1,1.270193e+00,0.000000,2.113454e-17,-0.146880
3,3,2,1.0,2.0,2,2,2,2,2,2.0,...,5.0,4,2.0,0,0,0,6.043100e-01,-0.054320,-1.790015e-01,0.823316
4,4,4,1.0,1.0,1,1,1,2,1,1.0,...,5.0,5,2.0,0,0,0,4.140576e-01,4.827412,-1.790015e-01,-0.764278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31607,31607,3,1.0,1.0,2,2,2,2,2,2.0,...,7.0,5,1.0,0,1,1,1.365320e+00,0.000000,2.113454e-17,0.756355
31608,31608,3,1.0,2.0,2,2,2,2,1,2.0,...,4.0,4,2.0,0,0,0,-1.298214e+00,3.480727,-1.790015e-01,-0.093960
31609,31609,2,1.0,2.0,2,2,2,2,2,2.0,...,99.0,4,1.0,1,0,0,-6.759123e-16,-0.054320,-1.433084e-01,-0.235080
31610,31610,2,2.0,2.0,2,2,2,2,2,2.0,...,6.0,3,2.0,0,0,0,-1.773845e+00,-0.054320,-1.552061e-01,0.488157
31611,31611,2,2.0,2.0,2,2,2,2,2,2.0,...,4.0,4,2.0,0,0,0,3.189314e-01,0.703190,-1.671038e-01,0.100079

In [31]:
test.columns

Index(['Unnamed: 0', 'PHSTAT_A', 'HYPMED_A', 'CHLMED_A', 'CHDEV_A', 'ANGEV_A',
       'MIEV_A', 'STREV_A', 'ASEV_A', 'ASTILL_A', 'ASAT12M_A', 'ASER12M_A',
       'CANEV_A', 'DIBEV_A', 'COPDEV_A', 'ARTHEV_A', 'DEMENEV_A', 'ANXEV_A',
       'DEPEV_A', 'AGEP_A', 'HICOV_A', 'HIKIND01_A', 'HIKIND04_A',
       'HIKIND02_A', 'HIKIND10_A', 'RSNHIWANT_A', 'PAYBLL12M_A', 'LASTDR_A',
       'USUALPL_A', 'HOSPONGT_A', 'RX12M_A', 'RXSK12M_A', 'SHTFLU12M_A',
       'visited_doctor_in_12m', 'dont_want_health_ins', 'SHTPNUEV_A',
       'BPLAST_A', 'CHOLLAST_A', 'ANXFREQ_A', 'ORIENT_A', 'MARITAL_A',
       'AFVET_A', 'SMKEV_A', 'ECIGEV_A', 'GAD74_A', 'SPOUSEDUC_A',
       'HOUYRSLIV_A', 'INCSSRR_A', 'SPOUSAGETC_A - Other/NA',
       'EMPDYSMSS2_A - Other/NA', 'EMPWKHRS2_A - Other/NA', 'SPOUSAGETC_A',
       'EMPWKHRS2_A', 'EMPDYSMSS2_A', 'FAMINCTC_A'],
      dtype='object')